mixin macra2017ComplicationSelect(id, label, tabTo, tabBackToTab)
    +dataEntrySelect(id, label, [
        { value: "arwy_unexp_diff_intub", label: "Unexpected difficult intubation (>3 attempts)" },
        { value: "arwy_unable_to_intub", label: "Unable to intubate" },
        { value: "arwy_dental_trauma", label: "Dental trauma" },
        { value: "arwy_inj_to_nose", label: "Injury to nose, lip, tongue, pharynx, larynx, or esophagus" },
        { value: "arwy_laryngospasm", label: "Laryngospasm" },
        { value: "arwy_fire", label: "Fire in airway" },
        { value: "cv_arrythmia", label: "Arrythmia (new or requiring treatment)" },
        { value: "cv_cardiac_arrest", label: "Cardiac arrest (unplanned)" },
        { value: "cv_cardiac_arrest_plnd", label: "Cardiac arrest (planned)" },
        { value: "cv_unexp_death", label: "Unexpected death" },
        { value: "cv_stroke", label: "Stroke, CVA, or coma" },
        { value: "cv_myocard_ischem", label: "Myocardial ischemia" },
        { value: "cv_myocard_infarc", label: "Myocardial infarction" },
        { value: "cv_pulm_edema_chf", label: "Pulmonary edema/CHF" },
        { value: "cv_sev_hypoten", label: "Severe hypotension (req ongoing Rx)" },
        { value: "cv_sev_hyperten", label: "Severe hypertension (req ongoing Rx)" },
        { value: "cv_vasc_access_comp", label: "Vascular access injury (arterial/pneumothorax)" },
        { value: "med_admin_err", label: "Medication administration error" },
        { value: "med_antag_of_narc", label: "Antagonism of narcotics or benzodiazepines" },
        { value: "med_prol_nm_block", label: "Prolonged NM block/inadequate reversal" },
        { value: "med_delyd_awak_aft_ga", label: "Delayed awakening (>20 mins) after general anesthesia" },
        { value: "med_anaphylaxis", label: "Anaphylaxis" },
        { value: "misc_transfsn_react", label: "Transfusion reaction" },
        { value: "misc_eye_inj", label: "Corneal Abrasion (excluding eye trauma prior to anesthesia or eye surgery)" },
        { value: "misc_surg_fire", label: "OR fire" },
        { value: "misc_malig_hyper", label: "Malignant Hyperthermia" },
        { value: "smisc_kin_inj", label: "Skin injury (abrasion, tape, burn, positioning)" },
        { value: "misc_visual_loss", label: "Visual loss" },
        { value: "misc_retn_ed_ponv", label: "Return to ED with PONV" },
        { value: "misc_retn_ed_urin_ret", label: "Return to ED with urinary retention" },
        { value: "misc_sev_back_pain", label: "Severe back pain related to anesthesia" },
        { value: "misc_aware_ga", label: "Awareness under GA" },
        { value: "misc_pat_or_fam_diss", label: "Patient or family dissatisfaction" },
        { value: "misc_pat_fall_or", label: "Patient fall in OR" },
        { value: "misc_othr", label: "Other" },
        { value: "pacu_reintub_plnd", label: "Reintubation (Planned trial extubation documented)" },
        { value: "pacu_reintub", label: "Reintubation (No planned trial extubation)" },
        { value: "pacu_intract_naus_vom", label: "Intractable nausea or vomiting" },
        { value: "pacu_unplnd_postop_med_vent", label: "Unplanned postop mechanical ventilation" },
        { value: "pacu_hypotherm", label: "Hypothermia (PACU admit temp < 35.5C)" },
        { value: "pacu_hypertherm", label: "Hyperthermia (PACU admit temp > 38C)" },
        { value: "pacu_inadeq_pain_ctrl", label: "Inadequate pain control (admission pain score >= 8)" },
        { value: "pacu_prol_vent_supp", label: "Prolonged ventilatory support (but extubated in PACU)" },
        { value: "pacu_prol_unplnd_pacu", label: "Prolonged unplanned PACU stay (>2hrs)" },
        { value: "pacu_post_intub_stridor", label: "Post intubation stridor" },
        { value: "pacu_postop_delirm", label: "Postop delirium" },
        { value: "proc_case_cncld", label: "Case cancelled" },
        { value: "proc_equip_malf", label: "Equipment malfunction" },
        { value: "proc_wrong_site", label: "Wrong site surgery" },
        { value: "proc_wrong_pat", label: "Wrong patient" },
        { value: "pacu_unplnd_hosp_adm", label: "Unplanned hospital admission" },
        { value: "pacu_unplnd_icu_adm", label: "Unplanned ICU admission" },
        { value: "proc_wrong_proc", label: "Wrong surgical procedure" },
        { value: "proc_wrong_side_blk", label: "Wrong side blocks" },
        { value: "proc_failed_blk_req_ga", label: "Failed block requiring general anesthesia" },
        { value: "proc_wet_tap_epi", label: "Wet tap during epidural placement" },
        { value: "proc_unint_hi_spin_epi", label: "Unintended high spinal or epidural" },
        { value: "proc_local_anes_tox", label: "Systematic local anesthetic toxicity" },
        { value: "proc_prol_atmpt_blk", label: "Prolonged attempt at block (>15 min)" },
        { value: "epof_epid_hema_foll_epi", label: "Spinal hematoma following epidural" },
        { value: "regnl_postdur_punct_hdache", label: "Post-dural puncture headache" },
        { value: "regnl_spinal_hema_foll_epi", label: "Epidural hematoma after spinal/epidural" },
        { value: "regnl_epid_abcess_foll_epi", label: "Epidural abscess after spinal/epidural" },
        { value: "regnl_trans_neuro_symp", label: "Transient neurologic symptoms (post spinal anesthesia)" },
        { value: "regnl_periph_nerve_inj", label: "Peripheral nerve injury" },
        { value: "regnl_infect_aft_pnb", label: "Infection following peripheral nerve block" },
        { value: "resp_bronchospasm", label: "Bronchospasm (requiring treatment)" },
        { value: "resp_aspiration", label: "Aspiration" },
        { value: "resp_pneumothorax", label: "Pneumothorax (related to anesthesia)" },
        { value: "resp_hypoxemia", label: "Hypoxemia (SpO2<90% for 3 minutes)" },
        { value: "resp_unplnd_intub_lma", label: "Unplanned intubation or LMA insertion" }
        ], tabTo, tabBackToTab)

.panel.panel-default
    +dataEntryPanelHeading('patientPanelHeading', '#patientPanel', 'Patient')
    #patientPanel.panel-collapse.collapse.in
        .panel-body
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label First Name
                        +dataEntryTextInput('firstName','First Name')
                .col-sm-5
                    .form-group
                        label.control-label Last Name
                        +dataEntryTextInput('lastName','Last Name')
            if !facilityDataEntryFormSettings.autoGenerateEncounterNumber
                .row
                    .col-sm-10.col-sm-offset-1
                        .form-group
                            label.control-label Encounter Number
                            +dataEntryTextInput('encounterNumber','Encounter Number')
            else
                .row
                    .col-sm-10.col-sm-offset-1
                        .form-group
                            label.control-label Encounter Number
                            .input-group
                                | #{importBatchRecord.dataEntryData && importBatchRecord.dataEntryData.recordData && importBatchRecord.dataEntryData.recordData.encounterNumber ? importBatchRecord.dataEntryData.recordData.encounterNumber : 'Will be generated once the record is saved and relevant fields are valid.'}
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Date of Birth
                        +dataEntryDateInput('dob', 'Date of Birth ex: MM-DD-YYYY' )
                .col-sm-5
                    .form-group
                        label.control-label Gender
                        +dataEntrySelect('gender', 'Patient Gender', [
                                {value:'male',label:'Male'},
                                {value:'female',label:'Female'},
                                {value:'unknown',label:'Unknown'},
                            ], '#providerInformationPanel')
.panel.panel-default
    +dataEntryPanelHeading('providerInformation', '#providerInformationPanel', 'Provider Information')
    #providerInformationPanel.panel-collapse.collapse
        .panel-body
            .row#copyDataFromPreviousRecordRow
                .col-sm-12.text-center
                    a#copyDataFromPreviousRecordButton(href='#' style={'margin-top':'10px','margin-bottom':'10px'}) Copy Providers and Dates from Previous Record
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label Surgeon
                        +dataEntryProviderSelect('surgeon', 'facility', 'SURGEON' ,null, '#patientPanel')
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label Anesthesia #1
                        +dataEntryProviderSelect('mda1', 'facility', ['MDA','CRNA'], null, null, true, true)
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label Anesthesia #2
                        +dataEntryProviderSelect('mda2', 'facility', ['MDA','CRNA'], null, null, true)
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label Anesthesia #3
                        +dataEntryProviderSelect('mda3', 'facility', ['MDA','CRNA'], null, null, true)
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label Anesthesia #4
                        +dataEntryProviderSelect('mda4', 'facility', ['MDA','CRNA'], null, null, true)
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label Location
                        +dataEntrySurgeryLocationSelect('orLocn', '#procedureTimesPanel')
.panel.panel-default
    +dataEntryPanelHeading('procedureTimes', '#procedureTimesPanel', 'Procedure Times')
    #procedureTimesPanel.panel-collapse.collapse
        .panel-body
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Date of Service
                        +dataEntryDateInput('dos', 'Date of Service', null, '#providerInformationPanel', true)
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label First Case
                        +dataEntryYesNoSelect('firstCase','ex: Yes/No')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Scheduled Start Date
                        +dataEntryDateInput('scheduledStartDate', '')
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Scheduled Start Time
                        +dataEntryTimeInput('scheduledStartTime', '')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Anesthesia Start Date
                        +dataEntryDateInput('anesStartDate', '')
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Anesthesia Start Time
                        +dataEntryTimeInput('anesStartTime','')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Anesthesia Ready Date
                        +dataEntryDateInput('anesReadyDate', '')
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Anesthesia Ready Time
                        +dataEntryTimeInput('anesReadyTime','')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Surgery Start Date
                        +dataEntryDateInput('surgStartDate', '')
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Surgery Start Time
                        +dataEntryTimeInput('surgStartTime','')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Surgery End Date
                        +dataEntryDateInput('surgEndDate', '')
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Surgery End Time
                        +dataEntryTimeInput('surgEndTime','')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label PACU Arrival Date
                        +dataEntryDateInput('pacuArrivalDate', '')
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label PACU Arrival Time
                        +dataEntryTimeInput('pacuArrivalTime','')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Anesthesia End Date
                        +dataEntryDateInput('anesEndDate', '')
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Anesthesia End Time
                        +dataEntryTimeInput('anesEndTime','','#clinicalInformationPanel')
.panel.panel-default
    +dataEntryPanelHeading('clinicalInformation', '#clinicalInformationPanel', 'Clinical Information')
    #clinicalInformationPanel.panel-collapse.collapse
        .panel-body
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label ASA
                        +dataEntrySelect('asa', 'ASA', [
                                {value:'1',label:'1'},
                                {value:'2',label:'2'},
                                {value:'3',label:'3'},
                                {value:'4',label:'4'},
                                {value:'5',label:'5'},
                                {value:'6',label:'6'},
                                {value:'1E',label:'1E'},
                                {value:'2E',label:'2E'},
                                {value:'3E',label:'3E'},
                                {value:'4E',label:'4E'},
                                {value:'5E',label:'5E'}
                            ], null, '#procedureTimesPanel')
                .col-sm-5
                    .form-group
                        label.control-label Patient Type
                        +dataEntrySelect('patientType', 'Select Amb/IP', [
                                {value:'amb',label:'Ambulatory (Amb)'},
                                {value:'inp',label:'Inpatient (IP)'}
                            ])
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label Primary Anesthetic
                        +dataEntrySelect('primaryAnes', 'Select from List', [
                                {value:'gen',label:'General'},
                                {value:'mac',label:'MAC'},
                                {value:'spinal',label:'Spinal'},
                                {value:'epidural',label:'Epidural'},
                                {value:'laborEpidural',label:'Labor Epidural'},
                                {value:'regional',label:'Regional'},
                            ],'#preOpScreeningPanel')
.panel.panel-default
    +dataEntryPanelHeading('preOpScreening', '#preOpScreeningPanel', 'Pre-operative Screening')
    #preOpScreeningPanel.panel-collapse.collapse
        .panel-body
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label OSA
                        +dataEntryYesNoReasonSelect('preOpOsa','ex: Yes/No w/ Reason',null,'#clinicalInformationPanel')
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label GERD
                        +dataEntryYesNoReasonSelect('preOpGerd', 'ex: Yes/No w/ Reason')
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label Glaucoma
                        +dataEntryYesNoReasonSelect('preOpGlaucoma', 'ex: Yes/No w/ Reason')
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label PONV Risk
                        +dataEntryYesNoReasonSelect('preOpPonv','ex: Yes/No w/ Reason')
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label EtOH/Drugs
                        +dataEntryYesNoReasonSelect('preOpAlcTob','ex: Yes/No w/ Reason','#patientSafetyPanel')
.panel.panel-default
    +dataEntryPanelHeading('patientSafety', '#patientSafetyPanel', 'Patient Safety')
    #patientSafetyPanel.panel-collapse.collapse
        .panel-body
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Current Meds in Record
                        +dataEntryYesNoReasonSelect('meds','ex: Yes/No w/ Reason', null, '#preOpScreeningPanel')
                .col-sm-5
                    .form-group
                        label.control-label Safety Checklist Used
                        +dataEntryYesNoSelect('slu','ex: Yes/No')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Handoff Protocol Used
                        +dataEntryYesNoReasonSelect('handoff', 'ex: Yes/No w/ Reason')
                .col-sm-5
                    .form-group
                        label.control-label Transferred To
                        +dataEntrySelect('transferredTo', 'ex: PACU/ICU', [
                                {value:'pacu',label:'PACU'},
                                {value:'icu',label:'ICU'},
                            ])
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label PACU Pain
                        +dataEntrySelect('pacuPain', 'Select from List', [
                                {value:'0',label:'0'},
                                {value:'1',label:'1'},
                                {value:'2',label:'2'},
                                {value:'3',label:'3'},
                                {value:'4',label:'4'},
                                {value:'5',label:'5'},
                                {value:'6',label:'6'},
                                {value:'7',label:'7'},
                                {value:'8',label:'8'},
                                {value:'9',label:'9'},
                                {value:'10',label:'10'},
                                {value:'U',label:'Unknown'}
                            ],'#adverseEventsTab')
.panel.panel-default
    +dataEntryPanelHeading('adverseEvents', '#adverseEventsTab', 'Adverse Events')
    #adverseEventsTab.panel-collapse.collapse
        .row
            .col-sm-10.col-sm-offset-1
                .form-group
                    label.control-label Adverse Events
                    +dataEntryYesNoSelect('complicationsIndicated', 'Yes/No, Select from List',null,'#patientSafetyPanel')
        .row
            .col-sm-5.col-sm-offset-1
                .form-group
                    label.control-label Adverse Event #1
                    +macra2017ComplicationSelect('complication1', 'Select from List')
            .col-sm-5
                .form-group
                    label.control-label Adverse Event #2
                    +macra2017ComplicationSelect('complication2', 'Select from List')