.panel.panel-default
    +dataEntryPanelHeading('patientPanelHeading', '#patientPanel', 'Patient')
    #patientPanel.panel-collapse.collapse.in
        .panel-body
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label First Name
                        +dataEntryTextInput('firstName','First Name',null,'#adverseEventsTab')
                .col-sm-5
                    .form-group
                        label.control-label Last Name
                        +dataEntryTextInput('lastName','Last Name')
            if !facilityDataEntryFormSettings.autoGenerateEncounterNumber
                .row
                    .col-sm-10.col-sm-offset-1
                        .form-group
                            label.control-label Encounter Number
                            +dataEntryTextInput('encounterNumber','Encounter Number')
            else
                .row
                    .col-sm-10.col-sm-offset-1
                        .form-group
                            label.control-label Encounter Number
                            .input-group
                                | #{importBatchRecord.dataEntryData && importBatchRecord.dataEntryData.recordData && importBatchRecord.dataEntryData.recordData.encounterNumber ? importBatchRecord.dataEntryData.recordData.encounterNumber : 'Will be generated once the record is saved and relevant fields are valid.'}
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Date of Birth
                        +dataEntryDateInput('dob', 'Date of Birth ex: MM-DD-YYYY' )
                .col-sm-5
                    .form-group
                        label.control-label Gender
                        +dataEntrySelect('gender', 'Patient Gender', [
                                {value:'male',label:'Male'},
                                {value:'female',label:'Female'},
                                {value:'unknown',label:'Unknown'},
                            ], '#locationAndProcedurePanel')
.panel.panel-default
    +dataEntryPanelHeading('locationAndProcedure', '#locationAndProcedurePanel', 'Case Information')
    #locationAndProcedurePanel.panel-collapse.collapse
        .panel-body
            .row#copyDataFromPreviousRecordRow
                .col-sm-12.text-center
                    a#copyDataFromPreviousRecordButton(href='#' style={'margin-top':'10px','margin-bottom':'10px'}) Copy Providers and Dates from Previous Record
            .row

                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Case Type
                        +dataEntrySelect('caseType', 'Select: Stnd or OB', [
                                {value:'standard',label:'Standard'},
                                {value:'ob',label:'OB'},
                            ], null, '#patientPanel')
                .col-sm-5
                    .form-group
                        label.control-label Date of Service
                        +dataEntryDateInput('dos', 'Date of Service', null, null, true)
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Location
                        +dataEntrySurgeryLocationSelect('orLocn')
                .col-sm-5
                    .form-group
                        label.control-label First Case
                        +dataEntryYesNoSelect('firstCase','ex: Yes/No')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Scheduled Start Date
                        +dataEntryDateInput('scheduledStartDate', '')
                .col-sm-5.col-sm-offset-0
                    .form-group
                        label.control-label Scheduled Start Time
                        +dataEntryTimeInput('scheduledStartTime', '')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Anesthesia Start Date
                        +dataEntryDateInput('anesStartDate', '')
                .col-sm-5.col-sm-offset-0
                    .form-group
                        label.control-label Anesthesia Start Time
                        +dataEntryTimeInput('anesStartTime','')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Anesthesia Ready Date
                        +dataEntryDateInput('anesReadyDate', '')
                .col-sm-5.col-sm-offset-0
                    .form-group
                        label.control-label Anesthesia Ready Time
                        +dataEntryTimeInput('anesReadyTime','')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Surgery Start Date
                        +dataEntryDateInput('surgStartDate', '')
                .col-sm-5.col-sm-offset-0
                    .form-group
                        label.control-label Surgery Start Time
                        +dataEntryTimeInput('surgStartTime','')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Surgery End Date
                        +dataEntryDateInput('surgEndDate', '')
                .col-sm-5.col-sm-offset-0
                    .form-group
                        label.control-label Surgery End Time
                        +dataEntryTimeInput('surgEndTime','')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label PACU/ICU
                        +dataEntryDateInput('pacuArrivalDate', '')
                .col-sm-5.col-sm-offset-0
                    .form-group
                        label.control-label PACU/ICU
                        +dataEntryTimeInput('pacuArrivalTime', '')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Anesthesia End Date
                        +dataEntryDateInput('anesEndDate', '')
                .col-sm-5.col-sm-offset-0
                    .form-group
                        label.control-label Anesthesia End Time
                        +dataEntryTimeInput('anesEndTime','')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label OB Case Type
                        +dataEntrySelect('obCaseType', 'Select from List', [
                                {value:'LABOR_ONLY',label:'Labor Only'},
                                {value:'OR_ONLY',label:'OR Only'},
                                {value:'LABOR_OR',label:'Labor to OR'}
                            ])
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Labor Epidural Start Date
                        +dataEntryDateInput('laborEpiduralStartDate', '')
                .col-sm-5.col-sm-offset-0
                    .form-group
                        label.control-label Labor Epidural Start Time
                        +dataEntryTimeInput('laborEpiduralStartTime', '')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Labor Epidural End Date
                        +dataEntryDateInput('laborEpiduralEndDate', '')
                .col-sm-5.col-sm-offset-0
                    .form-group
                        label.control-label Labor Epidural End Time
                        +dataEntryTimeInput('laborEpiduralEndTime','')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Patient Type
                        +dataEntrySelect('patientType', 'Select Amb/IP', [
                                {value:'amb',label:'Ambulatory (Amb)'},
                                {value:'inp',label:'Inpatient (Inpt)'},
                                {value:'ed',label:'Emergency (ED)'}
                            ])
                .col-sm-5.col-sm-offset-0
                    .form-group
                        label.control-label Phys Status
                        +dataEntrySelect('asa', 'ASA', [
                                {value:'1',label:'1'},
                                {value:'2',label:'2'},
                                {value:'3',label:'3'},
                                {value:'4',label:'4'},
                                {value:'5',label:'5'},
                                {value:'6',label:'6'},
                                {value:'1E',label:'1E'},
                                {value:'2E',label:'2E'},
                                {value:'3E',label:'3E'},
                                {value:'4E',label:'4E'},
                                {value:'5E',label:'5E'}
                            ])
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Technique
                        +dataEntrySelect('primaryAnes', 'Select from List', [
                                {value:'gen',label:'General'},
                                {value:'mac',label:'MAC'},
                                {value:'spinal',label:'Spinal'},
                                {value:'epidural',label:'Epidural'},
                                {value:'regional',label:'Regional'},
                                {value:'laborEpidural',label:'Labor Epidural'}
                            ],'#providerInformationPanel')
.panel.panel-default
    +dataEntryPanelHeading('providerInformation', '#providerInformationPanel', 'Provider Information')
    #providerInformationPanel.panel-collapse.collapse
        .panel-body
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label Surgeon
                        +dataEntryProviderSelect('surgeon', 'facility', 'SURGEON' ,null, '#locationAndProcedurePanel')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Anes #1
                        +dataEntryProviderSelect('mda1', 'facility', ['MDA','CRNA'], null, null, true, true)
                .col-sm-5
                    .form-group
                        label.control-label Anes #2
                        +dataEntryProviderSelect('mda2', 'facility', ['MDA','CRNA'], null, null, true)
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Anes #3
                        +dataEntryProviderSelect('anesthetist1', 'facility', ['MDA','CRNA'], null, null, true)
                .col-sm-5
                    .form-group
                        label.control-label Anes #4
                        +dataEntryProviderSelect('anesthetist2', 'facility', ['MDA','CRNA'], null, null, true)
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Anes #5
                        +dataEntryProviderSelect('anesthetist3', 'facility', ['MDA','CRNA'], '#asaPanel', null, true)
.panel.panel-default
    +dataEntryPanelHeading('asaHeading','#asaPanel','ASA CPT Code')
    #asaPanel.panel-collapse.collapse
        .panel-body
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label ASA CPT Code
                            +dataEntryTextInput('asaCptCode', 'Enter the Five Digit Code','#delayTab','#providerInformationPanel')
.panel.panel-default
    +dataEntryPanelHeading('delayHeading', '#delayTab', 'Delays')
    #delayTab.panel-collapse.collapse
        .panel-body
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label First Case Delay Reason #1
                        +delayReason2021Select('delayReason', 'Select Delay Reason', null,'#asaPanel')
                .col-sm-5
                    .form-group
                        label.control-label First Case Delay Reason #2
                        +delayReason2021Select('delayReason2', 'Select Delay Reason')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label First Case Delay Reason #3
                        +delayReason2021Select('delayReason3', 'Select Delay Reason')
                .col-sm-5
                    .form-group
                        label.control-label First Case Delay Reason #4
                        +delayReason2021Select('delayReason4', 'Select Delay Reason','#cancellationTab')
    .panel.panel-default
        +dataEntryPanelHeading('cancellationHeading', '#cancellationTab', 'Cancellation')
        #cancellationTab.panel-collapse.collapse
            .panel-body
                .row
                    .col-sm-10.col-sm-offset-1
                        .form-group
                            label.control-label Cancellation Indicated
                            +dataEntrySelect('sameDayCancellation', 'Select Before Ind/After Ind',[
                                    {value:'BI',label:'Before Ind'},
                                    {value:'AI',label:'After Ind'}
                                ],null,'#delayTab')
                .row
                    .col-sm-5.col-sm-offset-1
                        .form-group
                            label.control-label Cancellation Reason #1
                            +cancellationReason2021Select('cancellationReason1', 'Select from List')
                    .col-sm-5
                        .form-group
                            label.control-label Cancellation Reason #2
                            +cancellationReason2021Select('cancellationReason2', 'Select from List')
                .row
                    .col-sm-5.col-sm-offset-1
                        .form-group
                            label.control-label Cancellation Reason #3
                            +cancellationReason2021Select('cancellationReason3', 'Select from List')
                    .col-sm-5
                        .form-group
                            label.control-label Cancellation Reason #4
                            +cancellationReason2021Select('cancellationReason4', 'Select from List','#macraQualityTab')
.panel.panel-default
    +dataEntryPanelHeading('macraQuality', '#macraQualityTab', 'MACRA Measures')
    #macraQualityTab.panel-collapse.collapse
        .panel-body
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label Patient is a smoker
                        +dataEntryYesNoSelect('patientIsSmoker', 'ex: Yes/No',null,'#cancellationTab')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Recvd. cess. guidance
                        +dataEntryYesNoSelect('recSmokerCssGuidance', 'ex: Yes/No')
                .col-sm-5
                    .form-group
                        label.control-label Smkd. on day of surg.
                        +dataEntryYesNoSelect('smokedOnDayOfSurg', 'ex: Yes/No')
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label Pre-existing OSA diagnosed
                        +dataEntryYesNoSelect('preOsaDiag', 'ex: Yes/No')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label OSA screen performed
                        +dataEntryYesNoReasonSelect('osaScreenPerformed', 'ex: Yes/No')
                .col-sm-5
                    .form-group
                        label.control-label OSA screen result
                        +dataEntrySelect('osaScreenPositive', 'ex: Yes/No', [
                            { label:'Pos', value:'yes' },
                            { label:'Neg', value:'no' }
                        ], tabTo, tabBackToTab)
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label >= 2 Mitigations used
                        +dataEntrySelect('gteTwoMitigations', 'ex: Yes, N-RS, N-RU', [
                            { label:'Yes', value:'yes' },
                            { label:'N-RS', value:'no-reason-specified' },
                            { label:'N-RU', value:'no' }
                        ], tabTo, tabBackToTab)
            .row 
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Non-OR Setting (eg Rad, ECT, IR, Endo)
                        +dataEntryYesNoSelect('nonOrSetting','ex: Yes/No')
                .col-sm-5
                    .form-group
                        label.control-label EtCO2 monitoring used
                        +dataEntryYesNoSelect('etco2MonitoringUsed','ex: Yes/No')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Difficult airway and GETA planned
                        +dataEntryYesNoSelect('diffAirwayAndGetaPlanned', 'ex: Yes/No')
                .col-sm-5
                    .form-group
                        label.control-label Planned equip used AND 2nd Provider present
                        +dataEntryYesNoSelect('plannedEquipUseAndSecondProviderPresent','ex: Yes/No')
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label Multimodal pain management
                        +dataEntryYesNoReasonSelect('mmPainMgmt','ex: Yes/No w/ Reason')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Inhal agent used
                        +dataEntryYesNoSelect('inhalAgentUsed','ex: Yes/No')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label >= 3 Risk factors for PONV
                        +dataEntryYesNoSelect('gteThreeRiskFactors', 'ex: Yes/No')
                .col-sm-5
                    .form-group
                        label.control-label Combo therapy used
                        +dataEntryYesNoReasonSelect('comboTherapyUsed', 'ex: Yes/No')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Arterial Line
                        +arterialLineSterilitySelect('arterialLine', 'Select from List')
                .col-sm-5
                    .form-group
                        label.control-label Defined sterile technique used
                        +dataEntryYesNoReasonSelect('arterialSterileTechniqueUsed', 'ex: Yes/No w/ Reason','#additionalMacraMeasuresTab')
.panel.panel-default
    +dataEntryPanelHeading('additionalMacraMeasures','#additionalMacraMeasuresTab','Speciality MACRA Measures')
    #additionalMacraMeasuresTab.panel-collapse.collapse
        .panel-body
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label C-Section performed
                        +dataEntryYesNoSelect('csPerformed','ex: Yes/No',null,'#macraQualityTab')
                .col-sm-5
                    .form-group
                        label.control-label Phenylephrine given
                        +dataEntryYesNoReasonSelect('phenylGiven','Yes/No w/ Reason')
            .row 
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label 1 ̊ total knee arthroplasty
                        +dataEntryYesNoSelect('primaryTotalKneeArthroplasty','ex: Yes/No')
                .col-sm-5
                    .form-group
                        label.control-label Shoulder arthroplasty
                        +dataEntryYesNoSelect('shoulderArthroplasty','ex: Yes/No')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Hip arthroplasty
                        +dataEntryYesNoSelect('hipArthroplasty','ex: Yes/No')
                .col-sm-5
                    .form-group
                        label.control-label Shoulder arthroscopy
                        +dataEntryYesNoSelect('shoulderArthroscopy','ex: Yes/No')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Neuraxial / regional block or LIA
                        +dataEntrySelect('neuraxialOrRegBlock','Yes/No w/ Reason', [
                            { label:'Yes', value:'yes' },
                            { label:'No - Reason Specified in Record', value:'no-reason-specified' },
                            { label:'No - Reason Unspecified', value:'no-reason-unspecified' },
                            { label:'Block by Surgeon', value:'no-reason-surgeon' }
                        ])
                .col-sm-5
                    .form-group
                        label.control-label Anemia screen performed
                        +dataEntryYesNoReasonSelect('anemiaScreenPerformed','Yes/No w/ Reason')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Anemia screen result
                        +dataEntrySelect('anemiaScreenResult', 'ex: Hgb < 13, Hgb >= 13', [
                                {value:'yes',label:'Hgb < 13'},
                                {value:'no',label:'Hgb >= 13'}
                            ])
                .col-sm-5
                    .form-group
                        label.control-label >=1 Defined anemia mngmnt strategy
                        +dataEntryYesNoReasonSelect('gte1DefinedAnemiaMngmntStrategy','Yes/No w/ Reason','#qualityMeasuresTab')
.panel.panel-default
    +dataEntryPanelHeading('qualityMeasures','#qualityMeasuresTab','Quality Measures')
    #qualityMeasuresTab.panel-collapse.collapse
        .panel-body
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Post Op Dispo
                        +dataEntrySelect('postOpDispo', 'ex: PACU/ICU', [
                                {value:'pacu',label:'PACU/Stepdown'},
                                {value:'icu',label:'ICU'},
                            ],null,'#additionalMacraMeasuresTab')
                .col-sm-5
                    .form-group
                        label.control-label Post Op Pain
                        +dataEntrySelect('postOpPain', 'Select from List', [
                                {value:'0',label:'0'},
                                {value:'1',label:'1'},
                                {value:'2',label:'2'},
                                {value:'3',label:'3'},
                                {value:'4',label:'4'},
                                {value:'5',label:'5'},
                                {value:'6',label:'6'},
                                {value:'7',label:'7'},
                                {value:'8',label:'8'},
                                {value:'9',label:'9'},
                                {value:'10',label:'10'},
                                {value:'U',label:'Unknown'}
                            ])
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Current meds in record
                        +dataEntryYesNoReasonSelect('currentMedsInRecord', 'ex: Yes/No w/Reason')
                .col-sm-5
                    .form-group
                        label.control-label Safety checklist used
                        +dataEntryYesNoSelect('safetyChecklistUsed', 'ex: Yes/No')
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label Handoff protocol used
                        +dataEntryYesNoReasonSelect('handoffProtocolUsed', 'ex: Yes/No w/Reason','#adverseEventsTab')

.panel.panel-default
    +dataEntryPanelHeading('adverseEvents', '#adverseEventsTab', 'Outcomes')
    #adverseEventsTab.panel-collapse.collapse
        .panel-body
            .row
                .col-sm-10.col-sm-offset-1
                    .form-group
                        label.control-label Outcomes Indicated
                        +dataEntrySelect('complicationsIndicated', 'Outcomes (Yes / None)', [
                                {value:'yes',label:'Outcomes Selected'},
                                {value:'no',label:'NONE (No Outcomes Selected)'}
                            ], null, '#qualityMeasuresTab')
            .row
                .col-sm-5.col-sm-offset-1
                    .form-group
                        label.control-label Outcomes #1
                        +complicationReason2021Select('complication1', 'Select from List')
                .col-sm-5
                    .form-group
                        label.control-label Outcomes #2
                        +complicationReason2021Select('complication2', 'Select from List','#patientPanel')