h4 This is a test form and does not function. You can close this window.

div.content
    table.table.table-striped
        thead
            tr
                th Key
                th Value
        tbody
            each val, key in queryParams
                tr
                    td #{key}
                    td #{val}