
link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
link(href='/assets/css/light-bootstrap-dashboard.css', rel='stylesheet')
link(href='/javascript/font-awesome/css/font-awesome.min.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,300', rel='stylesheet', type='text/css')
link(href='/assets/css/pe-icon-7-stroke.css', rel='stylesheet')
link(href="/javascript/jasny/css/jasny-bootstrap.min.css", rel="stylesheet")
if !formValidationVersion || formValidationVersion == null
    link(href="/javascript/formvalidation-v0.8.0/dist/css/formValidation.min.css", rel='stylesheet')
else
    link(href="/javascript/formvalidation-v" + formValidationVersion + "/dist/css/formValidation.min.css", rel='stylesheet')
link(href="/javascript/sweetalert2/sweetalert2.css" rel='stylesheet')
link(href="/javascript/chartist-plugin-tooltip/chartist-plugin-tooltip.css" rel='stylesheet')
link(href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" rel="stylesheet" type="text/css")
link(href='/css/main.css', rel='stylesheet')