#importRecordUsageModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby="myModalLabel")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Import Record Usage Monthly Detail
      .modal-body
          table.table.table-striped.rotate
            thead
              tr(styles='vertical-align: bottom')
                th Template Name
                th.text-right Import Record Count
            tbody#importRecordUsageTable
      .modal-footer
        .row.col-sm-12.text-right
            button#cancelCreateFlowButton.btn.btn-fill.btn-default(type='button', data-dismiss='modal') Close