extends ../layouts/authenticatedDefaultLayout
block layoutVars
  - var title = 'Score Card Settings Setup'
  - var sidebarLink = 'dashboards/settingsSetup'

block content
    .row
        .col-md-12
            .card#metricCard
                .header
                    | Score Card Settings Setup
                .content
                    p Before proceeding to the Score Card we need to review some initial settings.  Once you are satisfied with the settings, click 'Save Facility Settings'.
                    p &nbsp;
                    p 
                        a(href='orgScoreCard/settings')
                            span
                                | Proceed to Score Card Settings 
                                i.fa.fa-arrow-right
                                
                        

block otherscripts