extends ../../layouts/authenticatedDefaultLayout
block layoutVars
  - var title = 'Org Settings: Logos'
  - var sidebarLink = 'orgSettings/logoSettings'

block content
    #root
    if migrationData != null
        .migration Migrated on #{migrationData.migration_dttm}
    else
        .migration Organization not migrated.

block otherscripts
    script
        include logoSettings.bundle.js
    script var migrationData = !{migrationData ? JSON.stringify(migrationData) : 'null'}